@use 'sass:map';
@use 'src/styling/_colors.module' as *;
@use 'src/styling/spacing' as *;

.level-list {
  background-color: $color-primary-100;
  padding: $xxxl $xxxxl;

  ::-webkit-scrollbar {
    display: none;
  }

  &__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  &__header-wrapper {
    align-items: center;
    display: flex;
    gap: $xl;
    justify-content: space-between;
  }
}
