@use 'src/styling/_colors.module' as *;
@use 'src/styling/spacing' as *;
@use 'src/styling/typography' as *;

.result-section {
  background-color: $color-neutral-white;
  border-radius: 16px;
  border: 8px solid $color-neutral-200;
  display: flex;
  flex: 1;
  padding: $xxs;
}
