@use 'sass:map';
@use 'src/styling/_colors.module' as *;
@use 'src/styling/spacing' as *;

$colors: 'green', 'neutral', 'orange', 'primary', 'red';

$mappedBackgroundColorsList: (
  'green': $color-green-100,
  'neutral': $color-neutral-100,
  'orange': $color-orange-100,
  'primary': $color-primary-100,
  'red': $color-red-100,
);

.modal-wrapper {
  border: 1px solid $color-neutral-300;
  border-radius: 8px;
  padding: $xxxl $xxxl 0 $xxxl;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $xl;
  }

  &__main {
    margin: $xl 0;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@each $color in $colors {
  .modal-wrapper-color__#{$color} {
    background-color: map.get($mappedBackgroundColorsList, $color);
  }
}
