@use 'src/styling/_colors.module' as *;
@use 'src/styling/spacing' as *;

.network-error {
  background-color: $color-red-100;
  border: 2px solid $color-red-200;
  border-radius: 4px;
  margin-top: $md;
  padding: $sm;
}

.score-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $xxs;
  margin-top: $md;

  &__stars {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
