$color-background: #fff9f0;
$color-neutral-white: #ffffff;
$color-neutral-black: #000000;

//Neutral
$color-neutral-900: #0d0e0f;
$color-neutral-800: #282b2d;
$color-neutral-700: #42484b;
$color-neutral-600: #5d656a;
$color-neutral-500: #778288;
$color-neutral-400: #959da2;
$color-neutral-300: #b4b9bd;
$color-neutral-200: #d2d5d7;
$color-neutral-100: #f0f1f2;

//Green
$color-green-900: #081512;
$color-green-800: #173e37;
$color-green-700: #26685b;
$color-green-600: #359180;
$color-green-500: #44bba4;
$color-green-400: #6ecab8;
$color-green-300: #97d9cc;
$color-green-200: #c1e8e1;
$color-green-100: #eaf7f5;

//Primary
$color-primary-900: #090f14;
$color-primary-800: #1a2e3b;
$color-primary-700: #2b4d62;
$color-primary-600: #3d6c8a;
$color-primary-500: #4e8bb1;
$color-primary-400: #75a5c2;
$color-primary-300: #9dbed4;
$color-primary-200: #c4d8e5;
$color-primary-100: #ebf2f6;

//Orange
$color-orange-900: #1c1200;
$color-orange-800: #553500;
$color-orange-700: #8e5800;
$color-orange-600: #c67b00;
$color-orange-500: #ff9e00;
$color-orange-400: #ffb439;
$color-orange-300: #ffc971;
$color-orange-200: #ffdfaa;
$color-orange-100: #fff4e3;

//Red
$color-red-900: #190305;
$color-red-800: #4b0a0e;
$color-red-700: #7e1018;
$color-red-600: #b01622;
$color-red-500: #e21d2b;
$color-red-400: #e94f5a;
$color-red-300: #ef8189;
$color-red-200: #f5b4b8;
$color-red-100: #fce6e7;

:export {
  color-neutral-900: $color-neutral-900;
  color-primary-400: $color-primary-400;
}
