@import url(colors.scss);

@mixin code-block-shadow-outside() {
  box-shadow: 0px 4px 7px 5px $color-neutral-200;
}

@mixin chat-shadow() {
  box-shadow: -3px 5px 10px $color-neutral-200;
}

@mixin chat-shadow-2() {
  box-shadow: 3px 5px 10px $color-neutral-200;
}

@mixin modals() {
  box-shadow:
    0px 12px 10px $color-neutral-black,
    5px 0px 10px $color-neutral-black,
    -5px 0px 10px $color-neutral-black;
}
