@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin heading-1() {
  font-size: 60px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-style: normal;
  line-height: 72px;
  letter-spacing: 0.0075em;
  text-decoration: none;
  text-transform: none;

  @media (min-width: 1800px) {
    font-size: 72px;
    line-height: 84px;
  }
}

@mixin heading-2() {
  font-size: 48px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-style: normal;
  line-height: 64px;
  text-decoration: none;
  text-transform: none;

  @media (min-width: 1800px) {
    font-size: 60px;
    line-height: 76px;
  }
}

@mixin heading-3() {
  font-size: 40px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;

  @media (min-width: 1800px) {
    font-size: 52px;
    line-height: 60px;
  }
}

@mixin subtitle-1() {
  font-size: 28px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;

  @media (min-width: 1800px) {
    font-size: 40px;
    line-height: 52px;
  }
}

@mixin subtitle-2() {
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: 1800px) {
    font-size: 26px;
    line-height: 36px;
  }
}

@mixin body-1-regular() {
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;

  @media (min-width: 1800px) {
    font-size: 24px;
    line-height: 34px;
  }
}

@mixin body-2-medium() {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: 1800px) {
    font-size: 22px;
    line-height: 24px;
  }
}
