@use 'src/styling/_colors.module' as *;
@use 'src/styling/spacing' as *;

.row-wrapper {
  display: flex;
  margin-top: 16px;
}

.script-block {
  border: 1px solid gray;
  height: 20px;
  min-width: 100px;
  padding: 0px 4px;
  width: fit-content;
}

.script-section {
  background-color: $color-neutral-700;
  border-radius: 16px 16px 0px 0px;
  border: 8px solid $color-primary-300;
  border-bottom: 0px;
  flex: 2.5;
  padding: $sm $xl;
}

.slots-wrapper {
  display: flex;
  flex-direction: column;
}
