@use 'src/styling/_colors.module' as *;
@use 'src/styling/shadows' as *;
@use 'src/styling/spacing' as *;
@use 'src/styling/typography' as *;

.chatAI {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  right: $xxxxl;
  width: 35%;

  &__send-section {
    background-color: $color-green-100;
    bottom: 0;
    margin-top: $xxxl;
    padding: $xl;
    padding-top: 0px;
    position: sticky;
  }

  &__send-button {
    display: block;
    margin-left: auto;
  }

  &__text-input {
    width: 100%;
    margin: $md 0;
  }

  &__toggle-button {
    margin-left: auto;
    margin-right: $md;
    width: 25%;
  }

  &__wrapper {
    background-color: $color-green-100;
    border-radius: 16px 16px 0px 0px;
    border: 4px solid $color-green-300;
    border-bottom: none;
    max-height: 60vh;
    overflow: scroll;
    padding-top: $xl;
    position: relative;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: $sm;
    margin-top: $md;

    button {
      @include body-1-regular;
      background-color: $color-green-500;
      border-radius: 8px;
      border: transparent;
      color: $color-neutral-white;
      padding: $xs $md;

      &:hover {
        cursor: pointer;
        background-color: $color-green-600;
      }
    }
  }
}

.message {
  border-color: transparent;
  border-radius: 22px;
  padding: $sm $xl;
  margin-bottom: $xl;
  text-align: center;
  width: 65%;

  &.-recived {
    @include chat-shadow;
    background-color: $color-neutral-100;
    color: $color-neutral-700;
    margin-left: $xl;
  }

  &.-send {
    @include chat-shadow-2;
    background-color: $color-green-200;
    color: $color-green-700;
    margin-left: auto;
    margin-right: $xl;
  }
}
